image: eclipse-temurin:8-jdk

stages:
  - build
  - deploy

build-install-package:
  stage: build
  variables:
    GRADLE_USER_HOME: .gradle-home
  script:
    - ./gradlew showGit wtmpInstaller -PnexusUser="$NEXUS_USER" -PnexusPassword="$NEXUS_PASSWORD" -PrmaNexusUser="$RMA_NEXUS_USER" -PrmaNexusPassword="$RMA_NEXUS_PASSWORD" --no-daemon
  artifacts:
    paths:
      - build/**
      - .gradle/*
  tags:
    - docker
  cache:
    key:
      files:
        - gradle/wrapper/gradle-wrapper.properties
    paths:
      - .gradle-home/caches/**
      - .gradle-home/notifications/**
      - .gradle-home/wrapper/**


deploy-to-nexus:
  stage: deploy
  variables:
    GRADLE_USER_HOME: .gradle-home
  script:
    - ./gradlew publish -PnexusUser="$NEXUS_USER" -PnexusPassword="$NEXUS_PASSWORD" -PrmaNexusUser="$RMA_NEXUS_USER" -PrmaNexusPassword="$RMA_NEXUS_PASSWORD" --no-daemon
  dependencies:
    - build-install-package
  tags:
    - docker
  when: manual
  only:
    refs:
      - tags
  cache:
    key:
      files:
        - gradle/wrapper/gradle-wrapper.properties
    paths:
      - .gradle-home/caches/**
      - .gradle-home/notifications/**
      - .gradle-home/wrapper/**
